@import url('http://fonts.cdnfonts.com/css/monument-extended');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monument Extended';
}

html, body {
    background: black;
    color: white;
}